<p id="notice"><%= notice %></p>

<div class="p-10 text-center">

  <div class="mb-6 space-y-2">
    <p class="text-sm text-purple-600">
      Name
    </p>
    <p>
      <%= @book.name %>
    </p>
  </div>

  <div class="mb-6 space-y-2">
    <p class="text-sm text-purple-600">
      Price
    </p>
    <p>
      <%= @book.price %>
    </p>
  </div>


  <%= link_to 'Edit', edit_book_path(@book) %> |
  <%= link_to 'Back', books_path %>

</div>
